<div class="container" *ngIf="movies.length > 0; else noMovies">
    <h2>Welcome to the movies list</h2>
    <div class="alert alert-success" *ngIf="message">
        {{ message }}
    </div>
    <div class="row">
        <input type="text" class="col-md-9" [(ngModel)]="searchTerm" placeholder="Search for a movie by title, type, director etc">
        <button class="btn btn-success col-md-3" (click)="searchForMovie(searchTerm)">Searh</button>
        <div *ngIf="noResultFound" class="alert alert-warning col-md-12">{{ noResultFound }}</div>
    </div>
    <span>Click on the header items to sort the list</span>
    <table class="mt-3 table table-hover">
        <thead>
            <tr (click)="sort($event)">
                <th>Title</th>
                <th>Directors</th>
                <th>Release Date</th>
                <th>Type</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{ movie.title }}</td>
                <td><p *ngFor="let director of movie.directors">{{ director.name }}</p></td>
                <td>{{ movie.releaseDate | date : 'dd/MM/yyyy' }}</td>
                <td>{{ movie.type }}</td>
                <td><button class="btn btn-warning" (click)="updateMovie(movie.id)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteMovie(movie.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    
</div>

<ng-template #noMovies>
    <div class="container">
        <h2>There are no movies </h2>
    </div>
</ng-template>

<button class="btn btn-success" (click)="createMovie()">Create Movie</button>
<br><br><br><br><br>
