<div class="container-fluid">

    <!-- ROW FOR THE HEADER OF THE SHOPPING ONLY -->
    <div class="row" style="border-bottom: 0.5px solid black; padding: 0;">
        <div class="col-12" style="padding: 0;">
            <app-ecommerce-header></app-ecommerce-header>
        </div>
    </div>

    <div class="row" *ngIf="errorMessage; else noError">
        <div class="col-10 alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>

    <ng-template #noError>
        <div class="row">
            <div class="col-10">
                <h2 style="text-align: center;">{{ product.name }}</h2>
                <img src="{{ product.imageUrl }}" style="width:70%"/>
                <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
                <button class="btn btn-primary" (click)="addProductToChart()">Add To Cart</button>

                <hr>

                <h4>Description</h4>
                <p>{{ product.description }}</p>
                <a routerLink="/ecommerce/products/all"> <<<< Back to product list</a>
            </div>
        </div>
    </ng-template>

    

</div>
    
<br><br><br><br><br><br>