<div class="container">
    <h2>Welcome to my playground!</h2>
    <div class="card" style="padding: 10px;">
        <p>This application is developed and maintained by 
            <a href="https://www.linkedin.com/in/sedat-turkoglu-a3ba21157/" target="_blank">Sedat Turkoglu</a></p>
        <br>
        <p>In this application you will find:</p>
        <ul>
            <li><span style="font-weight: bold;">Movies library</span> - a project to perform CRUD opertaions by connecting to 
                Java RESTFul API, developed using Spring REST, H2 in-memory database and JPA to communicate with the database. 
                It also allows users to search for a movie and also sort the result.
                Feel free to play around with it <a routerLink="/movies">here</a>. Please go ahead and perform all the CRUD operations. <br>
                The purpose of this project is to demonstrate the ability to create a working full-stack application
            </li>
            <br>
            <li>
                <span style="font-weight: bold;">Duck Hunt</span> - This is the classic Nintendo duck-hunt game 
                (probably not with the same functionalities :) ) Go ahead and <a routerLink="/duck-hunt">play</a> with it!
                It is simple to play: try and click on the duck!
            </li>
            <br>
            <li>
                <span style="font-weight: bold;">Shopping</span> - This is an ecommerce application to allow users shop online!
            </li>
        </ul>
    </div>
    <!-- <p>This project is the implementation of the assignment outlined <a href="https://github.com/jerem1507/movie-library-assignment" target="_blank">here</a>.</p> -->
</div>