
<div class="container-fluid">

    <!-- ROW FOR THE HEADER OF THE SHOPPING ONLY -->
    <div class="row" style="border-bottom: 0.5px solid black; padding: 0;">
        <div class="col-12" style="padding: 0;">
            <app-ecommerce-header></app-ecommerce-header>
        </div>
    </div>

    <!-- ROW FOR BOTH LEFT AND RIGHT SIDE OF THE MAIN VIEW -->
    <div class="row" >
        <!-- LEFT SIDE OF THE VIEW - CATEGORY PART -->
        <div class="col-2">
            <app-shopping-category></app-shopping-category>
        </div>

        <!-- RIGHT SIDE OF THE VIEW -  PRODUCT LIST -->
        <div class="col-10" style="border-left: 1px solid black;">
            <app-product-list></app-product-list>
        </div>

    </div>

</div>



